<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive-nav.css">
    <script type="text/javascript" src = "/javascripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src = "/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src = "/javascripts/responsive-nav.min.js"></script>
    <script type="text/javascript" src = "/javascripts/app.js"></script>
    <script type="text/javascript" src = "/javascripts/jquery.json.min.js"></script>
    <script type="text/javascript" src="/javascripts/movie.js"></script>
  </head>
<body style = "padding: initial;">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8">
				<form>
					<fieldset>
					<legend><%=label%></legend>
					<textarea id="c_editor" name="c_editor" class="span12" rows="10"></textarea>
					<button id="c_save" type="button" class="btn btn-primary">保存</button>
					</fieldset>
				<form>
			</div>
		</div>
	</div>
</body>
</html>
